/* Estilo para a caixa de erro, agora verde */
div.alert__4iTB5.alert--error__huJ7n {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #4CAF50; /* verde */
    color: white;
    width: 100%;
    white-space: normal;
    word-break: break-word;
    flex-wrap: wrap;
    border-radius: 4px;
}

div.alert__content__nAQxJ {
    flex: 1;
    min-width: 0;
}

button.alert__close__s1z20 {
    margin-left: 10px;
    flex-shrink: 0;
}
